<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="title" content="kuroclient " />
        <meta name="description" content="The best discord selfbot client to maximize your discord experience." />
        <meta property="og:title" content="kuroclient" />
        <meta property="og:url" content="https://kuroclient.com/" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://kuroclient.com/static/exterior/img/logo.jpg" />
        <meta name="theme-color" content="#00000" />
        <meta property="og:type" content="website" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="564" />
        <meta property="og:image:height" content="444" />
        <!-- SEO -->
        <meta name="keywords" content="discord, selfbot, discord bot, discordselfbot, discord client, betterdiscord, self bot, discord hacks" />
        <!-- Twitter meta tags -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://kuroclient.com" />
        <meta property="twitter:title" content="https://kuroclient.com" />
        <meta property="twitter:description" content="The best discord selfbot client to maximize your discord experience." />
        <meta property="twitter:image" content="https://kuroclient.com/static/exterior/img/logo.jpg" />


        <link rel="icon" href="https://kuroclient.com/exterior/img/favicon.png" type="image/png" sizes="16x16" />

        <title>404 :(</title>

        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet" />

        <link rel="stylesheet" href="https://kuroclient.com/exterior/css/main.css" />

        <link rel="stylesheet" href="https://kuroclient.com/exterior/css/custom.css" />
    </head>

    <body>
        <div id="preloader">
            <div class="preloader-wrap">
                <img src="https://kuroclient.com/exterior/img/loader.png" alt="logo" class="img-fluid preloader-icon" />
                <div class="loading-bar"></div>
            </div>
        </div>

        <div class="main-wrapper">
            <!--404 section start-->
            <section class="error-section ptb-120 bg-dark min-vh-100 w-100 d-flex flex-column justify-content-center" style="background: url('https://kuroclient.com/exterior/img/page-header-bg.svg') no-repeat bottom right;">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-5 col-md-6">
                            <div class="error-page-content-wrap">
                                <h2 class="error-404 text-warning">404</h2>
                                <h1 class="display-5 fw-bold">Page Not Found</h1>
                                <p class="lead">Maybe it was a typo idk but this page doesnt exist, or maybe it did before and got deleted or something but go head and head on back to the main page</p>

                                <a href="/" class="btn btn-primary mt-4">Go Back Home</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-8 mt-5 d-none d-md-block d-lg-block">
                            <div class="hero-img position-relative circle-shape-images">
                                <!--animated shape start-->
                                <ul class="position-absolute animate-element parallax-element circle-shape-list" style="transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
                                    <li
                                        class="layer"
                                        data-depth="0.03"
                                        style="position: relative; display: block; left: 0px; top: 0px; transform: translate3d(-13.6338px, 6.11934e-124px, 0px); transform-style: preserve-3d; backface-visibility: hidden;"
                                    >
                                        <img src="https://kuroclient.com/exterior/img/circle-1.svg" alt="shape" class="circle-shape-item type-0 hero-1" />
                                    </li>
                                    <li
                                        class="layer"
                                        data-depth="0.02"
                                        style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(-9.08919px, 4.07956e-124px, 0px); transform-style: preserve-3d; backface-visibility: hidden;"
                                    >
                                        <img src="https://kuroclient.com/exterior/img/circle-1.svg" alt="shape" class="circle-shape-item type-1 hero-1" />
                                    </li>
                                    <li
                                        class="layer"
                                        data-depth="0.04"
                                        style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(-18.1784px, 8.15912e-124px, 0px); transform-style: preserve-3d; backface-visibility: hidden;"
                                    >
                                        <img src="https://kuroclient.com/exterior/img/circle-1.svg" alt="shape" class="circle-shape-item type-2 hero-1" />
                                    </li>
                                    <li
                                        class="layer"
                                        data-depth="0.04"
                                        style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(-18.1784px, 8.15912e-124px, 0px); transform-style: preserve-3d; backface-visibility: hidden;"
                                    >
                                        <img src="https://kuroclient.com/exterior/img/circle-1.svg" alt="shape" class="circle-shape-item type-3 hero-1" />
                                    </li>
                                    <li
                                        class="layer"
                                        data-depth="0.03"
                                        style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(-13.6338px, 6.11934e-124px, 0px); transform-style: preserve-3d; backface-visibility: hidden;"
                                    >
                                        <img src="https://kuroclient.com/exterior/img/circle-1.svg" alt="shape" class="circle-shape-item type-4 hero-1" />
                                    </li>
                                    <li
                                        class="layer"
                                        data-depth="0.03"
                                        style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(-13.6338px, 6.11934e-124px, 0px); transform-style: preserve-3d; backface-visibility: hidden;"
                                    >
                                        <img src="https://kuroclient.com/exterior/img/circle-1.svg" alt="shape" class="circle-shape-item type-5 hero-1" />
                                    </li>
                                </ul>
                                <!--animated shape end-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--404 section end-->
        </div>


        <script src="https://kuroclient.com/exterior/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="https://kuroclient.com/exterior/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="https://kuroclient.com/exterior/js/vendors/swiper-bundle.min.js"></script>
        <script src="https://kuroclient.com/exterior/js/vendors/jquery.magnific-popup.min.js"></script>
        <script src="https://kuroclient.com/exterior/js/vendors/parallax.min.js"></script>
        <script src="https://kuroclient.com/exterior/js/vendors/aos.js"></script>
        <script src="https://kuroclient.com/exterior/js/app.js"></script>
    </body>
</html>
