<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="title" content="kuroclient " />
        <meta name="description" content="The best discord selfbot client to maximize your discord experience." />
        <meta property="og:title" content="kuroclient" />
        <meta property="og:url" content="https://kuroclient.com/" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://kuroclient.com/static/exterior/img/logo.jpg" />
        <meta name="theme-color" content="#00000" />
        <meta property="og:type" content="website" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="564" />
        <meta property="og:image:height" content="444" />
        <!-- SEO -->
        <meta name="keywords" content="discord, selfbot, discord bot, discordselfbot, discord client, betterdiscord, self bot, discord hacks" />
        <!-- Twitter meta tags -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://kuroclient.com" />
        <meta property="twitter:title" content="https://kuroclient.com" />
        <meta property="twitter:description" content="The best discord selfbot client to maximize your discord experience." />
        <meta property="twitter:image" content="https://kuroclient.com/static/exterior/img/logo.jpg" />

        <link rel="icon" href="exterior/img/favicon.png" type="image/png" sizes="16x16" />

        <title>kuroclient - best discord selfbot client and dashboard</title>

        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet" />

        <link rel="stylesheet" href="exterior/css/main.css" />

        <link rel="stylesheet" href="exterior/css/custom.css" />
    </head>

    <body>
        <div id="preloader">
            <div class="preloader-wrap">
                <img src="exterior/img/loader.png" alt="logo" class="img-fluid preloader-icon" />
                <div class="loading-bar"></div>
            </div>
        </div>

        <div class="main-wrapper">
            <header class="main-header w-100 z-10">
                <nav class="navbar navbar-expand-xl navbar-light sticky-header">
                    <div class="container d-flex align-items-center justify-content-lg-between position-relative">
                        <a href="/" class="navbar-brand d-flex align-items-center mb-md-0 text-decoration-none">
                            <img src="exterior/img/logo-white.png" alt="logo" class="img-fluid logo-white" />
                            <img src="exterior/img/logo-color.png" alt="logo" class="img-fluid logo-color" />
                        </a>

                        <a class="navbar-toggler position-absolute right-0 border-0"  role="button">
                            <span class="far fa-bars" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"></span>
                        </a>
                        <div class="clearfix"></div>
                        <div class="collapse navbar-collapse justify-content-center">
                            <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                                <li><a href="/" class="nav-link">Home</a></li>
                                <li><a href="pricing" class="nav-link">Pricing</a></li>
                                <li><a href="terms-of-service" class="nav-link">Terms of service</a></li>
                                <li><a href="privacy-policy" class="nav-link">Privacy policy</a></li>
                                <li><a href="support" class="nav-link">Support</a></li>
                            </ul>
                        </div>

                        <div class="action-btns text-end me-5 me-lg-0 d-none d-md-block d-lg-block">
                            <a href="login" class="btn btn-link text-decoration-none me-2">Sign In</a>
                            <% if (loggedIN) { %>
                                <a href="dashboard" class="btn btn-primary">Dashboard</a>
                            <% } else { %>
                                <a href="register" class="btn btn-primary">Get started</a>
                            <% }  %>
                        </div>
                    </div>
                </nav>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWithBackdrop">
                    <div class="offcanvas-header d-flex align-items-center mt-4">
                        <a href="/" class="d-flex align-items-center mb-md-0 text-decoration-none">
                            <img src="exterior/img/logo-color.png" alt="logo" class="img-fluid ps-2" />
                        </a>
                        <button type="button" class="close-btn text-danger" data-bs-dismiss="offcanvas" aria-label="Close">
                            <i class="far fa-close"></i>
                        </button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                            <li><a href="/" class="nav-link">Home</a></li>
                            <li><a href="pricing" class="nav-link">Pricing</a></li>
                            <li><a href="terms-of-service" class="nav-link">Terms of service</a></li>
                            <li><a href="privacy-policy" class="nav-link">Privacy policy</a></li>
                            <li><a href="support" class="nav-link">Support</a></li>
                        </ul>
                        <div class="action-btns mt-4 ps-3">
                          <% if (loggedIN) { %>
                              <a href="dashboard" class="btn btn-outline-primary me-2">Dashboard</a>
                              <a href="login" class="btn btn-primary">Sign In</a>
                          <% } else { %>
                              <a href="login" class="btn btn-outline-primary me-2">Sign In</a>
                              <a href="register" class="btn btn-primary">Get started</a>
                          <% }  %>
                        </div>
                    </div>
                </div>
            </header>

            <section class="support-content ptb-120">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-8 col-md-8 p-lg-5">
                            <div class="support-article-wrap">
                                <h1 class="display-5 mb-4 fw-bold">Privacy policy</h1>

                                <h1 style="font-size: calc(0.225rem + 2.1vw);" class="mb-4 fw-bold">Privacy Policy for kuroclient</h1>
                                <p>
                                  At kuroclient, accessible from kuroclient.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by kuroclient and how we use it.
                                  If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.
                                </p>
                                <h1 style="font-size: calc(0.225rem + 2.1vw);" class="mb-4 fw-bold">Log Files</h1>
                                <p>
                                  kuroclient follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.
                                </p>
                                <h1 style="font-size: calc(0.225rem + 2.1vw);" class="mb-4 fw-bold">Cookies and Web Beacons</h1>
                                <p>
                                  Like any other website, kuroclient uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.
                                </p>
                                <h1 style="font-size: calc(0.225rem + 2.1vw);" class="mb-4 fw-bold">Privacy Policies</h1>
                                <p>
                                  You may consult this list to find the Privacy Policy for each of the advertising partners of kuroclient.
                                  Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on kuroclient, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.
                                  Note that kuroclient has no access to or control over these cookies that are used by third-party advertisers.
                                </p>
                                <h1 style="font-size: calc(0.225rem + 2.1vw);" class="mb-4 fw-bold">Third Party Privacy Policies</h1>
                                <p>
                                  kuroclient's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options.
                                  You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.
                                  Children's Information
                                  Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.
                                  kuroclient does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.
                                </p>
                                <h1 style="font-size: calc(0.225rem + 2.1vw);" class="mb-4 fw-bold">Online Privacy Policy Only</h1>
                                <p>
                                  This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in kuroclient. This policy is not applicable to any information collected offline or via channels other than this website.
                                </p>
                                <h1 style="font-size: calc(0.225rem + 2.1vw);" class="mb-4 fw-bold">Consent</h1>
                                <p>
                                  By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.
                                </p>
                                <h1 style="font-size: calc(0.225rem + 2.1vw);" class="mb-4 fw-bold">My discord information</h1>
                                <p>
                                  All discord info is securely stored in a database and will not be accessed by staff.

                                </p>


                                <!-- <div class="job-details-info my-5">
                                    <h3 class="h5">Follow this Step Bellow Responsibilities</h3>
                                    <ul class="content-list list-unstyled">
                                        <li>Be involved in every step of the product design cycle from discovery and user acceptance testing.</li>
                                        <li>Work with BAs, product managers and tech teams to lead the Product Design</li>
                                        <li>Maintain quality of the design process and ensure that when designs are translated into code they accurately.</li>
                                        <li>Accurately estimate design tickets during planning sessions.</li>
                                        <li>Contribute to sketching sessions involving non-designersCreate, and pattern libraries.</li>
                                        <li>Design pixel perfect responsive UI’s and understand that adopting common interface</li>
                                        <li>Interface patterns is better for UX than reinventing the wheel</li>
                                    </ul>
                                </div>
                                <p>
                                    Enthusiastically expedite client-focused communities for process-centric collaboration and idea-sharing. Globally evolve high-quality methods of empowerment via plug-and-play resources. Compellingly
                                    transition worldwide strategic theme areas vis-a-vis frictionless systems.
                                </p>
                                <p>
                                    Uniquely develop empowered expertise without parallel portals. Efficiently reintermediate plug-and-play imperatives without goal-oriented technologies. Rapidiously network frictionless scenarios rather
                                    than multidisciplinary innovation. Efficiently restore interactive resources before enterprise-wide functionalities. Phosfluorescently benchmark an expanded array of data for premier interfaces.
                                </p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <script async id="gtag_script" src="https://www.googletagmanager.com/gtag/js?id=<%= gtag_id %>"></script>
        <script src="exterior/js/gtag.js" async></script>
        <script src="exterior/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="exterior/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="exterior/js/vendors/swiper-bundle.min.js"></script>
        <script src="exterior/js/vendors/jquery.magnific-popup.min.js"></script>
        <script src="exterior/js/vendors/parallax.min.js"></script>
        <script src="exterior/js/vendors/aos.js"></script>
        <script src="exterior/js/app.js"></script>
    </body>
</html>
