<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="title" content="kuroclient " />
        <meta name="description" content="The best discord selfbot client to maximize your discord experience." />
        <meta property="og:title" content="kuroclient" />
        <meta property="og:url" content="https://kuroclient.com/" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://kuroclient.com/static/exterior/img/logo.jpg" />
        <meta name="theme-color" content="#00000" />
        <meta property="og:type" content="website" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="564" />
        <meta property="og:image:height" content="444" />
        <!-- SEO -->
        <meta name="keywords" content="discord, selfbot, discord bot, discordselfbot, discord client, betterdiscord, self bot, discord hacks" />
        <!-- Twitter meta tags -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://kuroclient.com" />
        <meta property="twitter:title" content="https://kuroclient.com" />
        <meta property="twitter:description" content="The best discord selfbot client to maximize your discord experience." />
        <meta property="twitter:image" content="https://kuroclient.com/static/exterior/img/logo.jpg" />


        <link rel="icon" href="../exterior/img/favicon.png" type="image/png" sizes="16x16" />

        <title>kuroclient - best discord selfbot client and dashboard</title>

        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet" />

        <link rel="stylesheet" href="../exterior/css/main.css" />

        <link rel="stylesheet" href="../exterior/css/custom.css" />
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    </head>

    <body>
        <div id="preloader">
            <div class="preloader-wrap">
                <img src="../exterior/img/loader.png" alt="logo" class="img-fluid preloader-icon" />
                <div class="loading-bar"></div>
            </div>
        </div>
        <div class="main-wrapper">
            <section class="sign-up-in-section bg-dark ptb-60" style="background: url('../exterior/img/page-header-bg.svg') no-repeat right bottom;">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-12">
                            <div class="pricing-content-wrap bg-custom-light rounded-custom shadow-lg">
                                <div class="price-feature-col pricing-feature-info text-white left-radius p-5 order-1 order-lg-0">
                                    <a href="/" class="mb-5 d-none d-xl-block d-lg-block"><img src="../exterior/img/logo-white.png" alt="logo" class="img-fluid" /></a>
                                    <div class="customer-testimonial-wrap mt-60">
                                        <div class="tab-content" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="testimonial-tab-1" role="tabpanel">
                                                <div class="testimonial-tab-content mb-4">
                                                    <div class="mb-2">
                                                        <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                                            <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                            <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                            <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                            <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                            <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                        </ul>
                                                    </div>
                                                    <blockquote>
                                                        <h5>The best selfbot client on discord</h5>
                                                        Upgrade your discord experience<br>
                                                        Always online<br>
                                                        Available on all devices
                                                    </blockquote>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center mt-60">
                                        <div class="col-12">
                                            <p>Discord information is always secure</p>
                                            <a style="color: #2396ff;"href="privacy-policy">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-feature-col pricing-action-info p-5 right-radius bg-light order-0 order-lg-1">
                                    <a href="/" class="mb-5 d-block d-xl-none d-lg-none"><img src="../exterior/img/logo-color.png" alt="logo" class="img-fluid" /></a>
                                    <div style="display:none" id="loading" class="spinner-border text-success m-2" role="status"></div>
                                    <h1 class="h3">Create an Account</h1>
                                    <p class="text-muted">Get started with your free account today. No credit card needed and nosetup fees.</p>
                                    <p id="error_message"></p>
                                    <form style="margin-top: 1rem !important;" id="register_form" class="mt-5 register-form">
                                        <input type="hidden" id="csrf-token" value= "<%=csrfToken%>"/>
                                        <div class="row">
                                            <div class="col-sm-6"></div>
                                            <div class="col-sm-12">
                                                <label for="username" class="mb-1">Username</label><span class="text-danger">*</span>
                                                <div class="input-group mb-3">
                                                    <input type="username" class="form-control" placeholder="Username" id="username" required aria-label="username" />
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <label for="email" class="mb-1">Email <span class="text-danger">*</span></label>
                                                <div class="input-group mb-3">
                                                    <input type="email" class="form-control" placeholder="Email" id="email" required aria-label="email" />
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <label for="password" class="mb-1">Password <span class="text-danger">*</span></label>
                                                <div class="input-group mb-3">
                                                    <input type="password" class="form-control" placeholder="Password" id="password" required aria-label="Password" />
                                                </div>
                                            </div>
                                            <div class="g-recaptcha" data-sitekey="<%=siteKey%>"></div>
                                            <br/>

                                            <div class="col-12">
                                                <div class="form-check d-flex">
                                                    <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckChecked" />
                                                    <label class="form-check-label" for="flexCheckChecked"> I have read and agree to the <a href="terms-of-service" class="text-decoration-none">Terms & Conditions</a> </label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary mt-4 d-block w-100">Submit</button>
                                            </div>
                                        </div>
                                        <p class="text-center text-muted mt-4 mb-0 fw-medium font-monospace">Already have an account? <a id="login_anchor" href="login" class="text-decoration-none">Sign in</a></p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <script async id="gtag_script" src="https://www.googletagmanager.com/gtag/js?id=<%= gtag_id %>"></script>
        <script src="../exterior/js/gtag.js" async></script>
        <script src="../exterior/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="../exterior/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="../exterior/js/vendors/swiper-bundle.min.js"></script>
        <script src="../exterior/js/vendors/jquery.magnific-popup.min.js"></script>
        <script src="../exterior/js/vendors/parallax.min.js"></script>
        <script src="../exterior/js/vendors/aos.js"></script>
        <script src="../exterior/js/app.js"></script>
        <script src="../exterior/js/register.js"></script>

    </body>
</html>
