<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="./../../static/exterior/css/main.css" />
    </head>

    <body data-aos-easing="ease-in-out" data-aos-duration="500" data-aos-delay="0">
        <div class="main-wrapper">
            <section class="sign-up-in-section bg-dark ptb-60" style="background: url('./../../static/exterior/img/page-header-bg.svg') no-repeat right bottom;">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="pricing-content-wrap bg-custom-light rounded-custom shadow-lg">
                                <div class="pricing-feature-info text-white left-radius p-5 order-1 order-lg-0">
                                    <a href="https://kuroclient.com" class="mb-5 d-none d-xl-block d-lg-block"><img src="./../../static/exterior/img/logo-white.png" alt="logo" class="img-fluid" /></a>
                                    <div class="customer-testimonial-wrap mt-60">
                                        <div class="tab-content" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="testimonial-tab-1" role="tabpanel">
                                                <div class="testimonial-tab-content mb-4">
                                                    <h5>You changed your password</h5>
                                                    Password changed just now at <%= time %>
                                                    <br>
                                                    Ip: <%= ip %>
                                                    <br>
                                                    <%= location %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center mt-60">
                                        <div class="col-12">
                                            <p>Wasnt you?&nbsp;&nbsp;&nbsp;<a href="http://www.kuroclient.com/login" style="color: #83b5ff;">Login and click forgot password</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>
